{
  "name": "__PKG_NAME__",
  "version": "__VERSION__",
  "description": "gregale CLI binary for __GO_OS__-__GO_ARCH__",
  "license": "SEE LICENSE IN LICENSE",
  "homepage": "https://github.com/poyrazK/faas",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/poyrazK/faas.git"
  },
  "os": [
    "__NPM_OS__"
  ],
  "cpu": [
    "__NPM_CPU__"
  ],
  "files": [
    "bin/gregale",
    "LICENSE"
  ],
  "preferUnplugged": true
}
